{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],

  "plugins": [
    ["@babel/plugin-transform-runtime", {
      "corejs": 2
    }],
    "react-hot-loader/babel",
    "babel-plugin-styled-components",
    "@babel/plugin-proposal-class-properties",
  ]
}
